<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;storage&#x2F;concrete&#x2F;boxes.dm - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/storage/concrete/boxes.dm 
            <a href="https://github.com/Foundation-19/Hail-Mary/blob/37012da5a51b4ac56fffa08b0dabe4222c949290/code/datums/components/storage/concrete/boxes.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;storage&#x2F;concrete&#x2F;boxes.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box</th><td>Boxes</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/donk</th><td>DonkBoxes</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/cigarette</th><td>Cigpacks</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/monkey</th><td>monkey</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/big</th><td>Big Box</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/big/snap_pop</th><td>snap pops!</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/big/match</th><td>Matches!</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/huge</th><td>Hugeboxes</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/huge/lights</th><td>Lights!</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/survivalkit</th><td>Survival kit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/survivalkit/triple</th><td>Big kit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/survivalkit/specialized</th><td>Specialized kit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/survivalkit/specialized/medical</th><td>Medi kit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/survivalkit/specialized/synthmed</th><td>Synthy kit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/survivalkit/specialized/combat</th><td>combat kit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/debug/huge_volume_two_item</th><td>debug shit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/debug/huge_volume_four_item</th><td>debug shit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/box/debug/tiny_volume_four_item</th><td>debug shit</td></tr></table></main>
<footer>
    hailmary.dme
    <a href="https://github.com/Foundation-19/Hail-Mary/tree/37012da5a51b4ac56fffa08b0dabe4222c949290">37012da</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
