<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;storage&#x2F;concrete&#x2F;pockets.dm - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/storage/concrete/pockets.dm 
            <a href="https://github.com/Foundation-19/Hail-Mary/blob/37012da5a51b4ac56fffa08b0dabe4222c949290/code/datums/components/storage/concrete/pockets.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;storage&#x2F;concrete&#x2F;pockets.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/massive</th><td>2 bulky pockets</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/massive/swords</th><td>Bulky swords</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/small</th><td>One smol pocket</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/small/collar</th><td>One smol cookie pocket</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/small/four</th><td>4 small pockets</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/binocular</th><td>Useless bino bag</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/treasurer</th><td>Treasurer bag</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/small/detective</th><td>Hat</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/shoes</th><td>shoes</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/small/rushelmet</th><td>Hat 2, hardmode (cus its a helmet)</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/small/holdout</th><td>Holdout</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/duster</th><td>Unarmored dusters</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/duster/armored</th><td>Armored dusters</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/jacket</th><td>Jackets</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/armor</th><td>Generic armor slot</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/scarf</th><td>scarf</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/service</th><td>service apron</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/service/overalls</th><td>Service suit</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/medical</th><td>medi-apron</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/bulletbelt</th><td>suit bandolier</td></tr>
        <tr><th>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/storage.html">storage</a>/concrete/pockets/magpouch</th><td>Combat armor bandolier / holster</td></tr></table></main>
<footer>
    hailmary.dme
    <a href="https://github.com/Foundation-19/Hail-Mary/tree/37012da5a51b4ac56fffa08b0dabe4222c949290">37012da</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
