<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;storage&#x2F;ui.dm - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="code/datums/components/storage/ui.html#define">Define Details</a></header>
<main>
<h1>code/datums/components/storage/ui.dm 
            <a href="https://github.com/Foundation-19/Hail-Mary/blob/37012da5a51b4ac56fffa08b0dabe4222c949290/code/datums/components/storage/ui.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;storage&#x2F;ui.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="code/datums/components/storage/ui.html#define/FULL_ROW_WIGGLE_ROOM">FULL_ROW_WIGGLE_ROOM</a></th><td>if, for a row in a multi-line storage thing, the item is within this many pixels of (over)filling a row, treat it as just fitting the row</td></tr>
        <tr><th><a href="code/datums/components/storage/ui.html#define/ADD_NEW_ROW_HERE">ADD_NEW_ROW_HERE</a></th><td>Just an entry that tells the UI element builder when to make a new line, in multi-line-filled mode</td></tr></table><h2 id="define">Define Details</h2>
<h3 id="define/ADD_NEW_ROW_HERE"><aside class="declaration">#define </aside>ADD_NEW_ROW_HERE
            <a href="https://github.com/Foundation-19/Hail-Mary/blob/37012da5a51b4ac56fffa08b0dabe4222c949290/code/datums/components/storage/ui.dm#L79">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;storage&#x2F;ui.dm 79"/></a>
    </h3>
    <p>Just an entry that tells the UI element builder when to make a new line, in multi-line-filled mode</p><h3 id="define/FULL_ROW_WIGGLE_ROOM"><aside class="declaration">#define </aside>FULL_ROW_WIGGLE_ROOM
            <a href="https://github.com/Foundation-19/Hail-Mary/blob/37012da5a51b4ac56fffa08b0dabe4222c949290/code/datums/components/storage/ui.dm#L77">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;storage&#x2F;ui.dm 77"/></a>
    </h3>
    <p>if, for a row in a multi-line storage thing, the item is within this many pixels of (over)filling a row, treat it as just fitting the row</p></main>
<footer>
    hailmary.dme
    <a href="https://github.com/Foundation-19/Hail-Mary/tree/37012da5a51b4ac56fffa08b0dabe4222c949290">37012da</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
